<div class="max-w-xl mx-auto bg-white rounded-lg overflow-hidden shadow-lg my-5">
    <div class="flex justify-between items-center bg-gray-100 p-4">
        <div class="flex items-center">
        <img src="{{profileImageUrl}}" alt="Profile image" class="rounded-full h-12 w-12 object-cover" onclick="window.location='{{profileLink}}';">
        <span class="ml-2 font-semibold">{{username}}</span>
        </div>
        <button class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded inline-flex items-center">
        Follow
        </button>
    </div>

    <div class="p-4">
        <div class="text-gray-700 text-lg">{{postText}}</div>
        {{#if hasMedia}}
            <div class="carousel mt-4">
                <div class="carousel-inner relative overflow-hidden w-full">
                    {{#each mediaUrls}}
                    <div class="carousel-item float-left w-full">
                        <img src="{{this.url}}" alt="Media image" class="block w-full">
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev absolute top-0 bottom-0 left-0 z-10 flex items-center justify-center p-4 cursor-pointer">
                    <span class="carousel-control-prev-icon inline-block bg-no-repeat"></span>
                </button>
                <button class="carousel-control-next absolute top-0 bottom-0 right-0 z-10 flex items-center justify-center p-4 cursor-pointer">
                    <span class="carousel-control-next-icon inline-block bg-no-repeat"></span>
                </button>
            </div>
        {{/if}}

    <div class="bg-gray-100 p-4 text-sm text-gray-600 text-right">
        created on {{creationDate}}
    </div>
</div>
<script src="../public/js/posts/carousel.js"></script>