<div class="mt-1 fixed flex justify-center items-center w-5/6 h-screen filter drop-shadow-lg">
    <div id="searchResults" class="rounded-lg bg-dark h-full w-4/6 overflow-auto">
        {{#if results.users.length}}
            <h2>Users</h2>
            <ul>
                {{#each results.users}}
                    <li>{{this.username}}</li>
                {{/each}}
            </ul>
            {{else}}
                <p>No user results found.</p>
            {{/if}}

            {{#if results.posts.length}}
                <h2>Posts</h2>
                <ul>
                    {{#each results.posts}}
                        <li>{{this.content}} - by {{this.User.username}}</li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No post results found.</p>
        {{/if}}
    </div>
</div>