<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{cssPath}}/style.css">
  <link rel="stylesheet" href="{{cssPath}}/login/mvp.css">
</head>

<body>

  <div id="{{divId}}">
    <div class="header">
      <h1>{{pageTitle}}</h1>
    </div>
    <form>
      <div class="group">
        <input id="{{inputId}}" type="email">
        <label>{{labelText}}</label>
      </div>
      <div class="group">
        <input id="{{inputId}}" type="password">
        <label>{{labelText}}</label>
      </div>
      <div id="{{divId}}" class="group">
        <div id="{{divId}}" class="errorlabel">{{divText}}</div>
      </div>
      <button id="{{buttonId}}" type="button" class="button buttonBlue">Log in</button>
      <button id="{{buttonId}}" type="button" class="button buttonBlue">Sign up</button>
    </form>
  </div>

  <div id="{{divId}}">
    <div class="header">
      <h1>{{pageTitle}}</h1>
    </div>
    <form>
      <div class="group">
        <div id="{{divId}}" class="authlabel"></div>
      </div>
      <button id="{{buttonId}}" type="button" class="button buttonBlue">Log out</button>
    </form>
  </div>

</body>

</html>